@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #2665d6;
    --primary-foreground: #ffffff;
    --secondary: #002c5f;
    --secondary-foreground: #ffffff;
    --feedback-success-1: #20bf7a;
    --feedback-success-2: #407fef;
    --feedback-warning: #ffe32d;
    --feedback-danger: #ff5252;
    --background: #f6f9fb;
    --foreground: #333333;
    --card: #f1f6fb;
    --card-foreground: #333333;
    --scada: #d5e4f6;
    --gray-1: #f7f7f7;
    --gray-2: #dddddd;
    --accent-1: #2767c8;
    --accent-2: #0048a5;
    --accent-3: #4c556b;
    --border-gray-1: #eeeeee;
    --border-gray-2: #dddddd;
    --border-blue-1: #eff1f7;
    --border-blue-2: #c1cadb;
    --border-blue-3: #a1acc2;
    --border-blue-4: #405780;
    --text-gray-1: #333333;
    --text-gray-2: #777777;
    --text-gray-3: #999999;
    --text-gray-4: #aaaaaa;
    --text-white: #ffffff;
    --text-warning: #ffb800;
    --chart-1: #34d2d8;
    --chart-2: #9a8afb;
    --chart-3: #e86f93;
    --chart-4: #92d159;
    --chart-5: #4da2db;
    --chart-6: #f9ac54;
    --chart-7: #f3c416;
    --chart-8: #929a9b;
    --chart-9: #be43be;
    --chart-10: #a28446;
    --sidebar: #e3e7f1;
    --sidebar-foreground: #333333;
    --border: #dddddd;
    --input: #e3e7f1;
    --ring: #e3e7f1;
    --popover: #ffffff;
    --popover-foreground: #333333;
    --tooltip: #666d84;
    --table-warning: #fdf7e1;
    --table-danger: #ffeaea;
    --lnb-tab-inactive-bg: #c5ccdb;
    --lnb-border-collapsed-top: #393f50;
    --lnb-border-collapsed-bottom: #6c7283;
    --lnb-collapsed-gradient-start: #4c556b;
    --lnb-collapsed-gradient-end: #313746;
    --lnb-footer-bg: #c5ccdb;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
